<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign</title>
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
    <link rel="stylesheet" href="sign.css">
</head>
<body>

 	<div class="sign">
        <section class="px-4 py-8 lg:py-20 text-center">
            <h2 class="text-3xl lg:text-5xl font-medium text-white">Qu'est-ce que vous attendez?</h2>
            <a id="register-bottom-teaser" href="/sign" class="mt-6 lg:mt-12 px-5 lg:px-11 py-2 lg:py-3 inline-block 		text-xs lg:text-lg leading-4 lg:leading-6 font-medium rounded text-white bg-primary border border-primary hover:bg-primary-light">
            	S'inscrire avec Google
        	</a>
        </section>
    </div>

</body>
</html>