<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
	<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>

	<header class="bg-container pt-4 lg:pt-6">
        <div class="max-w-screen-xl mx-auto px-4">
            <div class="flex justify-between items-center">
                <h3><a class="w-28 lg:w-auto" href="/">LeGuide</a></h3>
                <div>                    
                    <a id="register" href="/sign" class="ml-4 lg:ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 lg:py-3 leading-tight lg:leading-none border border-primary rounded text-xs lg:text-sm font-roboto font-medium text-primary hover:bg-primary-light">
                    Essayer
                </a>
                </div>
            </div>
        </div>
    </header>



    <section class="home">
    	 <section class="bg-primary px-4 py-8 lg:py-20 text-center">
            <h2 class="text-3xl lg:text-5xl font-medium text-white">Bienvenue sur le Guide</h2><br>
            <h2 class="text-white">Faites votre choix ?</h2>
            <div class="les-btn">
            	<a id="register-bottom-teaser" href="https://kol.jumia.com/register" class="mt-6 lg:mt-12 px-5 lg:px-11 py-2 lg:py-3 inline-block text-xs lg:text-lg leading-4 lg:leading-6 font-medium rounded text-primary hover:text-primary bg-white">
            	itineraire celon <br> les numero de Bus
	        	</a>
	        	 <a id="register-bottom-teaser" href="https://kol.jumia.com/register" class="mt-6 lg:mt-12 px-5 lg:px-11 py-2 lg:py-3 inline-block text-xs lg:text-lg leading-4 lg:leading-6 font-medium rounded text-primary hover:text-primary bg-white">
	            	itineraire celon <br> les destinations
	        	</a>
            </div>
        <img class="inline-block" src="../assets/images/jumia-kol-program.svg" alt="img">
        </section>
    </section>




     <footer>
        <div class="max-w-screen-xl mx-auto px-4 py-6 lg:py-12">
            <div class="flex flex-col md:flex-row justify-between">
                <a href="/" target="_blank">LeGuide</a>
                <div class="flex justify-between md:gap-20 mt-4 md:mt-0">
                    <div>
                        <p class="lg:text-xl font-medium mb-4">Nous contacter</p>
                        <a href="mailto: hamedcuenca5@gmail.com" class="text-gray-400 font-roboto">Email</a>
                    </div>                   
                    <div>
                        <p class="lg:text-xl font-medium mb-4">Nous suivre</p>
                        <a href="https://www.youtube.com/@yayahc" target="_blank">
                       <span class="hidden lg:inline text-gray-400">Youtube</span>
                    </a>
                    </div>
                </div>
            </div>
            <p class="text-gray-400 font-roboto text-xs mt-4 md:-mt-8">Copyright © 2021 - DojoCode</p>
        </div>
    </footer>


</body>
</html>