<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LeGuide</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <h1>BUS N°13</h1>
          <h1>De : LA GARE DE KOUMASSI à LIBERTE / GARE NORD ADJAME</h1>
          <ul class="sessions">
            <li>
              <div class="time">Koumassi</div>
              <p>Cimétière Municipal - Ecole Sainte Etienne - Grande Mosquée - 6e arr. - Grand Carrefour</p>
            </li>
            <li>
              <div class="time">Marcory</div>
              <p>Bd V.G.E</p>
            </li>
            <li>
              <div class="time">Treichville</div>
              <p>Bd V.G.E - Gare de Bassam - Notre Dame - Immeuble Nanan Yamoussou / Pont De Gaulle</p>
            </li>
            <li>
              <div class="time">Plateau</div>
              <p>Bd lagunaire</p>
            </li>
            <li>
              <div class="time">Adjamé</div>
              <p>Liberté - Gare Nord</p>
            </li>
          </ul>
        </div>
    </div> 
</body>
</html>