<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LeGuide</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <h1>BUS N°07</h1>
          <h1>De : LA GARE DE MARCORY à VRIDI CITE</h1>
          <ul class="sessions">
            <li>
              <div class="time">Marcory</div>
              <p>INJS - Ste Thérèse - Hamanieh - Résidentiel</p>
            </li>
            <li>
              <div class="time">Treichville</div>
              <p>Belle ville - Notre Dame - Rue 12 - Grand Marché - Gare Bâteau bus - SOTRA - GMA - Commissariat du Port</p>
            </li>
            <li>
              <div class="time">Vridi</div>
              <p>Boulevard de Vridi - Vridi Cité</p>
            </li>
          </ul>
        </div>
    </div> 
</body>
</html>