<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LeGuide</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <h1>BUS n°22</h1>
          <h1>De : CINEMA ENTENTE TREICHVILLE à GARE NORD ADJAMÉ</h1>
          <ul class="sessions">
            <li>
              <div class="time">Treichville</div>
              <p>Cinéma Entente - Notre Dame - Avenue 21 - Rue 12 - Phcie France - Afrique / Pont FHB</p>
            </li>
            <li>
              <div class="time">Plateau</div>
              <p>Galérie du Parc - les 60 lgts - Cité Financière - Palais de la Justice - la Bad - Arrêt Cité Administrative - Etats-majors</p>
            </li>
            <li>
              <div class="time">Adjamé</div>
              <p>INSP - Forum - Grande Mosquée - Gare Nord</p>
            </li>
          </ul>
        </div>
    </div> 
</body>
</html>