<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LeGuide</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <h1>BUS N°05</h1>
          <h1>De : KOUMASSI NORD EST à CITE ADMINISTRATIVE PLATEAU</h1>
          <ul class="sessions">
            <li>
              <div class="time">Koumassi</div>
              <p>Terminus 05 - Ecole Le bon Samaritain - Pharmacie Campement - Pharmacie Mesano - In'Challa - Remblais</p>
            </li>
            <li>
              <div class="time">Marcory</div>
              <p>Ste Bernadette - Grand marché - Hôpital génèral - Orca Déco - Chimetec</p>
            </li>
            <li>
              <div class="time">Treichville</div>
              <p>Collège Autoroute - Rue 38 - Avenue 21 - Gare de Bassam - Rue 05 avenue 3/Pont FHB</p>
            </li>
            <li>
              <div class="time">Plateau</div>
              <p>Gare sud - Primature - SIB ALPHA 2000 - Cité Financière - Cité administrative</p>
            </li>
          </ul>
        </div>
    </div> 
</body>
</html>