<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LeGuide</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <h1>BUS n°98</h1>
          <h1>De : RIVIERA M'BADON à GARE SUD PLATEAU</h1>
          <ul class="sessions">
            <li>
              <div class="time">Riviera</div>
              <p>M'badon - Rieviera CIAD - M'pouto - Carrefour Sol Beni - Phcie - Riviera III - Carrefour Bon Pasteur - 09 Kilo</p>
            </li>
            <li>
              <div class="time">Cocody</div>
              <p>Ecole de Police - Ecole de Gendarmerie - INSAAC - RTI - SODEMI - Lycée Technique</p>
            </li>
            <li>
              <div class="time">Adjamé</div>
              <p>GSPM</p>
            </li>
            <li>
              <div class="time">Plateau</div>
              <p>Cité Administrative - Phcie Long Champ - les 60 lgts - Galerie du Parc - Gare Sud</p>
            </li>
          </ul>
        </div>
    </div> 
</body>
</html>