<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Le Guide</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <h1>BUS N°15</h1>
          <h1>De : ABOBO SOGEFIHA à LA GARE SUD PLATEAU</h1>
          <ul class="sessions">
            <li>
              <div class="time">Abobo</div>
              <p>Sogefiha - Phcie Maténé - Gendarmerie Abobo - Anador - Univ Nanguy Abrogoua</p>
            </li>
            <li>
              <div class="time">Adjamé</div>
              <p>MACACI - Pont Ferail - Gare Nord - Grde Mosquée - Forum - INSP - Mairie</p>
            </li>
            <li>
              <div class="time">Plateau</div>
              <p>Etat-majors - Phcie Long Champs - Les 60 logements - Galérie du Parc - Gare Sud</p>
            </li>
          </ul>
        </div>
    </div> 
</body>
</html>