<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LeGuide</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <h1>BUS N°04</h1>
          <h1>De : GARE MARCORY à ATECOUBE</h1>
          <ul class="sessions">
            <li>
              <div class="time">Marcory</div>
              <p>INJS - Ste Thérèse - Hamanieh - Résidentiel</p>
            </li>
            <li>
              <div class="time">Treichville</div>
              <p>Piscine d'État - Biafra - Sous le Pont De Gaulle - Grand Marché - Cité Policière/Pont FHB</p>
            </li>
            <li>
              <div class="time">Plateau</div>
              <p>Gare de Bassam - SIB ALPHA 2000 - Cité Financière - Palais de justice - la BAD - Cité Administrative - États Majors</p>
            </li>
            <li>
              <div class="time">Adjamé</div>
              <p>Forum - Grande Mosquée - Gare Nord - Atécoubé</p>
            </li>
          </ul>
        </div>
    </div> 
</body>
</html>