<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LeGuide</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <h1>BUS n°610</h1>
          <h1>De : BINGERVILLE à LIBERTE ADJAME</h1>
          <ul class="sessions">
            <li>
              <div class="time">Bingerville</div>
              <p>Hôpital Mère Enfant - Direct Feh Kessé à la vie - Lycée technique</p>
            </li>
            <li>
              <div class="time">Adjamé</div>
              <p>Liberté</p>
          </ul>
        </div>
    </div> 
</body>
</html>